* {
  margin-top: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  color: aqua;
  background-color: black;
}

.imagen {
  border: 10px;
  border-color: white;
  border-style: inset;
}